.j-template {
    display: none;
}

body {
    font-family: sans-serif;
    font-size: 10pt;
}

#j-claim-summary table {
    height: 30px;
}

#j-claim-detail-list {
    display: none;
}

section.j-claim {
    border: 1px solid black;
    width: 999px;
    background-color: #DEDEDE;
    margin-bottom: 8px;
    padding: 5px;
}

.j-label {
    font-weight: bold;
    width: 80px;
}

.j-field {
    alignment: left;
    width: 250px;
}

#j-provider {
    width: 100%;
}