.j-template {
    display: none;
}

body {
    font-family: sans-serif;
    font-size: 10pt;
}

#j-claim-summary table {
    height: 30px;
}

#j-claim-detail-list {
    display: none;
}

section.j-claim {
    border: 1px solid black;
    width: 999px;
    background-color: #DEDEDE;
    margin-bottom: 8px;
    padding: 5px;
}

.j-label {
    font-size: small;
    font-weight: bold;
    width: 100px;
    text-align: right;
    padding-right: 8px;
}

thead.j-claim-detail-entry-header th {
    font-size: small;
    font-weight: bold;
    text-align: left;
}

.j-field {
    alignment: left;
    width: 200px;
}

.j-modal .j-label {
    width: 40%;
}
.j-modal .j-field {
    width: 60%;
}
.j-modal .j-field input {
    width: 150px;
}

#j-provider {
    width: 80%;
}

#j-btn-add-provider {
    vertical-align: middle;
    margin-left: 2px;
}

.j-modal {
    padding: 15px;
}

.j-modal .j-label {
    text-align: right;
    padding-right: 8px;
}

.j-modal-nav {
    margin-top: 10px;
}
.j-modal h2 {
    margin-top: -5px;
}

.j-claim-summary input {
    width: 100px;
}

.j-date-field {
    width: 70px;
}

.j-claim-entry-description {
    min-width: 300px;
    max-width: 300px;
}

.j-charge-field {
    width: 80px;
}

#j-eob-note {
    width:170%;
}